.ReactModalPortal {
}
.ReactModal__Overlay {
  align-items: center;
  background: rgba(247,247,247,0.75);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}
.ReactModal__Overlay {
}
.ReactModal__Content {
  background: none;
  border: none;
  outline: none;
}
.ReactModal__Content:focus {
  outline: none;
}
