.ReactModalPortal {
}
.ReactModal__Overlay {
  background: rgba(247,247,247,0.75);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  overflow-y: auto;
}
.ReactModal__Content {
  background: none;
  border: none;
  outline: none;
}
.ReactModal__Content:focus {
  outline: none;
}
